<div class="hero">

        <h1 class="ui header">   
            <%= link_to image_tag("notflix.png", size: "500x200"), welcome_path %>
          </h1>
    
        <div class="mouse">
            <span></span>
        </div>
    
    </div>

    <% @movies.map do |show| %>
        
        <div class="tile">
            <div class="tile__media">
  
                    <a href="<%= show_path(show.id)%>">
                    <img class="tile__img" src="<%= show.show_cover %>"  />
                    </a>
                    
            </div>
        </div>
  
    <% end %>