<%= image_tag(@show.show_cover, size: "300x250") %>

<h1><%= @show.show_name %></h1>

<% @episodes.each do |episode| %>
    <h1><%= link_to episode.episode_name, episode.video_link %></h1>
<% end %>



